// Font-sizes
$text-xxl: 1.5rem;
$text-lg: 1.125rem;

// Font-families
$font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

// Colors
$color-slate-700: #334155;
$color-slate-100: #f1f5f9;
$color-blue-500: #3b82f6;
$color-blue-400: #60a5fa;
