// Font-sizes
$text-3xl: 3.75rem;
$text-2xl: 1.5rem;
$text-xl: 1.25rem;
$text-lg: 1.125rem;
$text-md: 1rem;
$text-sm: 0.8rem;

// Font-families
$font-sans: 'DM Sans', sans-serif;

// Colors
$color-pink: #ffdde2;
$color-dark-blue: #6883bc;
$color-blue: #7196c8;
$color-purple: #84579b;
$color-black: #1f1d2c;
$color-dark-gray: #262837;
$color-gray-2: #828282;
$color-gray: #c4c4c4;
$color-white: #ffffff;
